<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/adifsgaid" target = "_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/adif_sgaid/"target = "_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/abdellatif-sgaid-5048a4192/"target = "_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
   Made with <i class="fas fa-heart"></i> By Adif Sgaid at Le Wagon
  </div>
</div>
